div {
    /* text-align: center; */
margin: 1% 10% 3% 10%;
background-color: #F5F5F5;
}
#logo #title {
    display: inline-block;
}
#description {
    text-transform: uppercase;
    font-size: 10px;
    color: darkgrey;

}
#logo {
    float: left;
    margin-right: 10px;
    width: 2%;
    margin-left: 15%;
}
#icons {
    float: right;
    margin-right: 15%;
    /* width: 10px; */
}
#icon-space {
    margin-left: 10px;
}
article section h1 {
    margin-left: 15%;
}
#date {
    font-size: 11px;
    margin-left: 15%;
    text-transform: uppercase;
    color: darkgrey;

}
#print-text{
    float: right;
    margin-right: 18%;
    margin-left: .1%;
    text-transform: uppercase;
    color: darkgrey;

}
#print {
    float: right;
width: 12px;
}
#main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.paragraph {
    font-size: 15px ;
    margin: 2% 15% 2% 15%;
    text-indent: 3%;
    color: darkgrey;
}
.cont{
    position: relative;
}
.img-list img {
    width: 100%;
    padding-bottom: 40px;
}
#lable1 {
    position: absolute;
    margin-left: 60px;
    margin-top: -279px;
}
#lable-2 {
    position: absolute;
    margin-top: -251px;
    margin-left: 60px;
}
#lable-3 {
    position: absolute;
    margin-top: -223px;
    margin-left: 60px;
}
#lable-4 {
    position: absolute;
    margin-top: -196px;
    margin-left: 60px;
}
#lable-5 {
    position: absolute;
    margin-top: -169px;
    margin-left: 60px;
}
#lable-6 {
    position: absolute;
    margin-top: -142px;
    margin-left: 60px;
}
#lable-7 {
    position: absolute;
    margin-top: -140px;
    margin-left: 460px;
}
#lable-8 {
    position: absolute;
    margin-top: -169px;
    margin-left: 460px;
}
#lable-9 {
    position: absolute;
    margin-top: -197px;
    margin-left: 460px;
}
#lable-10 {
    position: absolute;
    margin-top: -224px;
    margin-left: 460px;
}
#lable-11 {
    position: absolute;
    margin-top: -252px;
    margin-left: 460px;
}
#lable-12 {
    position: absolute;
    margin-top: -280px;
    margin-left: 460px;
}
.line-decr{
    text-decoration: line-through;
}
/* .list {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}
.first-list {
    position: absolute;
    float: left;
    margin-left: 155px;
    margin-top: 66px;
    margin-left: 15%;
    margin-bottom: 55%;
}
.second-list {
    position: absolute;
    float: left;
    margin-right: -250;
    margin-top: 66px;
    margin-left: 80%;
} */
#van-pic{
    float: left;
    margin-top: -32px;
    margin-left:  15%;
    margin-bottom: 7%;
}
#van-pic #van-p {
    display: inline-block;
}
#van-p {
    font-size: 15px;
    color: darkgrey;

    /* float: left;
    margin-right: 10px;
    margin-left: 15%; */
}
footer {
    text-align: center;
    width: 85%;
}

footer hr{
    z-index: -1;
    margin-top: -20px;
}
button {
    float: right;
   background-color: red;
   color: white;
   padding: 10px;
   margin-top: -55px;
   margin-right: 165px;
}